<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% messages.forEach(message => { %>
      <p>Date: <%= message.added.toDateString("YYYY-MM-DD") %></p>
      <p>Name: <%= message.user %></p>
      <p>Message: <%= message.text %></p>
      <br>
    <% }); %>
      <a href="/new">Add Message</a>
  </body>
</html>
